/* Overlay */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.35s ease;
}

.modal-overlay.show {
    opacity: 1;
    pointer-events: all;
}

.modal-overlay.hide {
    opacity: 0;
    pointer-events: none;
}

/* Caixa do modal */
.modal-box {
    background: rgba(20, 20, 30, 0.65);
    backdrop-filter: blur(28px);
    border-radius: 18px;

    width: 100%;
    max-width: 950px;
    height: 80vh;

    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    /* centraliza vertical */
    justify-content: center;
    /* centraliza horizontal */

    transform: scale(0.9) translateY(20px);
    opacity: 0;
    transition: all 0.3s ease;
}

/* Entrada */
.modal-box.show {
    transform: scale(1) translateY(0);
    opacity: 1;
}

/* Saída */
.modal-box.hide {
    transform: scale(0.85) translateY(30px);
    opacity: 0;
}

/* Botão fechar */
.modal-close {
    position: absolute;
    top: 18px;
    right: 22px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.15);
    color: white;
    font-size: 22px;
    width: 38px;
    height: 38px;
    border-radius: 12px;
    cursor: pointer;
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.25s ease;
}

.modal-close:hover {
    background: rgba(187, 0, 224, 0.25);
    transform: scale(1.1);
}

.modal-close:active {
    transform: scale(0.95);
}

/* Responsivo */
@media (max-width: 900px) {
    .modal-box {
        max-width: 95%;
        border-radius: 18px;
    }
}